*{
    padding: 0;
    margin: 0;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: rgba(255, 215, 0, 0.7); 
}
body,html{
    height: 100%;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
#ui{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgba(0, 0, 0, 0.5) ;
}
#container{
    width: 60%;
    height: 55%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#card{
    width: 30%;
    height: 50%;
    margin: 1%;
    background: rgba(245, 245, 245, 0.2);
    border: 1px solid rgba(245, 245, 245, 0.7);
    position: relative;
    color: aliceblue;
}
#header{
    height: 15%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 22px;
    letter-spacing: 2px;
    border-bottom: 0.1vw solid white;
    text-shadow: 1px 1px 10px black;
    color: gold;
}
#label{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#image{
    width: 100%;
    height: 45%;
    display: grid;
    place-items: center;
}
#image img{
    height: 90%;
    width: 90%;
    border-radius: 4px;
}
#info{
    width: 100%;
    height: 45%;
    border-bottom: 0.1vw solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px 0;
}
#info_div{
    height: 100%;
    width: 100%;
}
#infoheader{
    color: orange;
    text-shadow: 0px 0px 10px black;
    font-weight: 900;
    font-size: 19px;
    letter-spacing: 5px;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#infoheader div{
    width: 50%;
    border-bottom: 1px solid orange;
    text-align: center;
}
#items{
    margin-top: 5px;
    height: 80%;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: auto;
    overflow-x: hidden;
    font-size: 17px;
}
#bottom-side{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bts{
    width: 100%;
    height: 100%;
}
#reward{
    width: 100%;
    height: 30%;
    color: gold;
    text-shadow: 0px 0px 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#buttons{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
#buttons div{
    width: 45%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(245, 245, 245, 0.518);
    cursor: pointer;
}
#setgps{
    background: purple;
}
#delete{
    background: red;
}
#buttons div:hover{
    box-shadow: 0px 0px 5px black;
}