body{
    background: none !important;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
}

#container{
    position: relative; 
    width: 40%;
    height: fit-content;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}

#cta{
	letter-spacing:3px;
    /* text-align: center; */
	font-size:20px;
	font-weight:500;
    color: orangered;
    width: 100%;
    /* display: flex; */
    /* justify-content: center; */
    text-shadow: 0 0 25px rgb(255, 81, 0);
}
#cta div{
    width: fit-content;
    display: inline-block;
    background: black;
    padding:1% 2%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#prog-cta{
    width: 100%;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
}
#progressBar{
    height: 30px;
    border-radius: 15px;
	background: linear-gradient(to left,orangered,red,rgb(89, 0, 0));
}
