*{
  padding: 0;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0%;
  padding: 0%;
}
::-webkit-scrollbar {
  width: 3px;
  height: 5px;
  background: rgba(255, 215, 0, 0.7); 
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 215, 0, 0.7); 
}
body,html{
  height: 100%;
  margin: 0;
  font-family: 'Akshar', sans-serif;
  font-weight: 500;
}
#container{
  position: absolute;
  right: 30px;
  bottom: 55px;
  width: 45%;
  height: 45%;
  background-color: rgb(30, 34, 40,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.608);
}
#report_menu{
  height: 100%;
  width: 100%;
}
#header{
  height: 15%;
  width: 100%;
  display: grid;
  place-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  text-shadow: 0px 0px 10px whitesmoke;
}
#header div{
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header_icon{
  padding-right: 15px;
  color: rgb(254, 18, 18);
  text-shadow: 0px 0px 10px rgb(254, 18, 18);
}
#reports{
  width: 100%;
  height: 84%;
  /* background: rgba(99, 92, 92, 0.608); */
  background-position: center;
  background-size: 30% auto;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#reports div{
  width: 95%;
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
}
table{
  width: 100%;
  height: fit-content;
  border-spacing: 0ch;
  padding-right: 15px;
}
tr{
  height: 50px;
  max-height: fit-content;
  background-color: rgba(99, 92, 92, 0.608);
}
td{
  word-wrap: break-word;
  text-align: center;
  color: white;
  font-size: 14px;
  padding: 10px;
  border-top: 0.01vw solid rgba(255, 255, 255, 0.608);
}
#reason{
  width: 30%;
  max-width: 30%;
  overflow-x: auto;
  overflow-y: hidden;
  text-align: left;
}
#name{
  width: 20%;
}
#staff{
  width: 20%;
}
#complete,#goto{
  width: 15%;
  font-size: 14px;
}
#complete span,#goto span{
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.171);
  padding: 5px 15px;
  cursor: pointer;
}
#goto span{
  background-color: rgb(255, 0, 0);
}
#goto span:hover{
  background-color: rgb(156, 0, 0);
  box-shadow: 0px 0px 2px black;
}
#complete span{
  background-color: rgb(59, 160, 25);
}
#complete span:hover{
  background-color: rgb(27, 91, 6);
  box-shadow: 0px 0px 2px black;
}
.report_active{
  background-color: rgba(186, 13, 13, 0.7);
}
.not_seen{
  color: orangered;
}
.seen{
  color: white;
}