* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0;
    margin: 0;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: rgba(255, 215, 0, 0.7); 
}
body,html{
    height: 100%;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
#ui{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    background:rgba(0, 0, 0, 0.5) url("../images/background.png");
    background-size: 100% 100%;
    background-position: center;
}
#close{
    position: absolute;
    background: rgb(163, 9, 9);
    bottom: 0.5%;
    padding: 10px 80px;
    border: 1px solid rgba(245, 245, 245, 0.7);
    font-size: 17px;
    font-weight: 900;
    letter-spacing: 2px;
    color: aliceblue;
}
#close:hover{
    cursor: pointer;
    background: rgb(102, 7, 7);
}
#container{
    width: 60%;
    height: 55%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#card{
    width: 30%;
    height: 90%;
    margin: 1%;
    position: relative;
    color: aliceblue;
    border: 1px solid rgba(245, 245, 245, 0.518);
    background: rgba(0, 0, 0, 0.224);
}
#header{
    width: 100%;
    height: 10%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 20px;
    letter-spacing: 2px;
    border-bottom: 0.1vw solid rgba(245, 245, 245, 0.518);
    text-shadow: 1px 1px 10px black;
    color: rgb(245, 245, 245);
}
#fight_timer{
    position: absolute;
    top: 1px;
    width: fit-content;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    padding: 0 5px;
    border: 1px solid rgba(245, 245, 245, 0.518);
    border-top: 0px;
    letter-spacing: 3px;
    font-weight: bold;
}
.fight_timer_notstarted{
    color: red;
}
.fight_timer_soon{
    color: orangered;
}
.fight_timer_started{
    color: greenyellow;
}
#label{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#image{
    width: 100%;
    height: 45%;
    display: grid;
    place-items: center;
}
#image img{
    height: 90%;
    width: 90%;
    border-radius: 4px;
}
#slots{
    width: 100%;
    height: 20%;
    border-bottom: 0.1vw solid rgba(245, 245, 245, 0.518);
    display: flex;
    align-items: center;
    justify-content: center;
}
table{
    height: 90%;
    width: 90%;
    text-align: center;
    border-collapse: collapse;
}
th{
    font-size: 18px;
    letter-spacing: 3px;
    border: 1px solid rgba(245, 245, 245, 0.518);
    width: 50%;
}
td{
    font-size: 20px;
}
.blue{
    color: rgb(43, 117, 220);
    text-shadow: 0px 0px 3px rgb(6, 49, 109);
}
.red{
    color: rgb(241, 50, 33);
    text-shadow: 0px 0px 3px rgb(107, 18, 9);
}
#join{
    height: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#join div{
    width: 45%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#join div img{
    width: 90%;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
#join div img:hover{
    transform: scale(1.05);
}
/* ARENA DATA (SCORE/IMAGE/TIMER) */
#arenadata{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#data{
    width: fit-content;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid orange;
}
#data div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0px 20px;
    height: 100%;
}
#arena{
    color: goldenrod;
    text-shadow: 0px 0px 4px orangered;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 2px;
    border-right: 2px solid goldenrod;
    background: rgba(245, 245, 245, 0.224);
}
#score{
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 2px;
    border-right: 2px solid goldenrod;
}
.scoretext{
    font-size: 16px;
    text-shadow: none;
}
#policescore{
    color: rgb(0, 98, 255);
    text-shadow: 0px 0px 4px rgb(32, 32, 209);
}
#VS{
    color: black;
    text-shadow: 0px 0px 4px black;
    font-size: 30px;
}
#criminalsscore{
    color: rgb(255, 38, 0);
    text-shadow: 0px 0px 4px red;
}
#timer{
    color: greenyellow;
    text-shadow: 0px 0px 4px orangered;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 2px;
    background: rgba(245, 245, 245, 0.224);
}

/* COUNTDOWN */
#countdown {
	width: 200px;
	height: 100px;
	position: absolute;
	left: 50%;
	top: 5%;
	margin-left: -100px;
	margin-top: -50px;
	color: rgb(255,255,255);
	text-shadow: 3px 0 3px rgba(0,0,0,.3), 
                0 3px 3px rgba(0,0,0,.3), 
                -3px 0 3px rgba(0,0,0,.3), 
                0 -3px 3px rgba(0,0,0,.3);
	font-size: 5em;
	transition: all 0.45s ease 0s;
}